html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	/* background: #1F2D3D; */
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
} 
#app {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

.container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

.container .header {
	height: 60px;
	line-height: 60px;
	background: #34425b;
	color: #fff;
}

.container .header .userinfo {
	text-align: right;
	padding-right: 35px;
	float: right;
}

.container .header .userinfo	.userinfo-inner {
	cursor: pointer;
	color: #fff;
}

.container .header .userinfo	.userinfo-inner	img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: 10px 0px 10px 10px;
	float: right;
}

.container .header	.logo {
	height: 60px;
	font-size: 22px;
	padding-left: 20px;
	padding-right: 20px;
	border-color: rgba(238, 241, 146, 0.3);
	border-right-width: 1px;
	border-right-style: solid;
}

.container .header	.logo img {
	width: 40px;
	float: left;
	margin: 10px 10px 10px 18px;
}

.container .header	.logo .txt {
	color: #fff;
}

.container .header	.logo-width {
	width: 230px;
}

.container .header	.logo-collapse-width {
	width: 65px
}

.container .header	.tools {
	padding: 0px 23px;
	width: 14px;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
}

.main {
	display: flex;
	position: absolute;
	top: 60px;
	bottom: 0px;
	overflow: hidden;
}

.main aside {
	flex: 0 0 230px;
	width: 230px;
}

.main aside .el-menu {
	height: 100%;
}

.main aside	.collapsed {
	width: 60px;
}

.main aside	.collapsed .item {
	position: relative;
}

.main aside	.collapsed .submenu {
	position: absolute;
	top: 0px;
	left: 60px;
	z-index: 99999;
	height: auto;
	display: none;
}

.main .menu-collapsed {
	flex: 0 0 65px;
	width: 65px;
	overflow: auto;
}

.main .menu-expanded {
	flex: 0 0 230px;
	width: 230px;
	overflow: auto;
}

.content-container {
	flex: 1;
	overflow-y: hidden;
	padding: 20px;
}
.grid-content{
	height: 100%;
}

.content-container .breadcrumb-container {
	margin-bottom: 10px;
}

.content-container .breadcrumb-container .title {
	width: 200px;
	float: left;
	color: #475669;
}

.content-container .breadcrumb-container	.breadcrumb-inner {
	float: right;
}

.content-container .content-wrapper {
	background-color: #fff;
	box-sizing: border-box;
	height: 99%;
    /* border: 1px solid #eeee; */
}

.content-container .content-wrapper .content-iframe{
	width: 100%;
	height: 100%;
	overflow: auto;
    border: none;
}

